.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: azure;
  background-color: #e50914;
  font-size: 16px;
}
